body {
  background-color: rgb(169, 169, 22);
}

.container {
  height: 420px;
  width: 350px;
  background-color: rgb(5, 24, 83);
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding-top: 10px;
}

h1 {
  color: #fff;
  margin-bottom: 5px;
}
h2 {
  color: #fff;
  margin: 5px;
}

#texxt {
  height: 30px;
  width: 190px;
  border-radius: 6px;
  border: none;
}

#add {
  background-color: lightblue;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: 400;
  cursor: pointer;
}
#task-ul {
  margin: 0;
  padding: 0 10px;
}

.upper {
  display: flex;
}

.task-div {
  height: 30px;
  width: 325px;
  border: 1px solid white;
  color: #fff;
  list-style-type: none;
  margin: 0;
  border-radius: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.del {
  background-color: red;
  color: #fff;
  border: none;
  padding: 3px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: greenyellow;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
